/* General Styling */
body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../static/Images/bg-masthead.jpg");
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f6062;
  min-height: 100vh;
}

/* Header */
header {
  background-color: #333;
  padding: 15px;
  box-shadow: 0px 4px 2px -2px gray;
  background-color: transparent;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;  /* Remove underline from all links */
  font-weight: bold;
}

/* Hover style for non-active links */
header nav ul li a:hover {
  color: #005cb8d5;         /* Change color on hover */
  text-decoration: none;  /* Remove underline on hover */
  background-color: transparent;
}

/* Active link style */
header nav ul li a.active {
  color: #ffd700;          /* Color for active link */
  background-color: transparent;
  text-decoration: none;   /* Ensure no underline for active link */
}

/* Prevent active link from being underlined on hover */
header nav ul li a.active:hover {
  color: #ffd700;          /* Keep the same color */
  text-decoration: none;   /* No underline on hover for active link */
}

/* Contact Us Section Styling */
.container {
  margin: 20px auto;
  margin-top:10%;
  padding: 20px;
}

h1 {
  color: #333;
}

p {
  color: white !important;
}

.footer {
  background-color: #333 !important;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  margin-top: 10%;
  width: 100%;
}

.footer p {
  color: #8a898d !important;
  margin-left: 40px;
}

.footer p b {
  color: #ffd700 !important;
}
